.catalog {
  background-color: #f8f8f8;
}

.catalog__container {
  width: 320px;
  padding: 50px 20px 43px;
  margin: 0 auto;
}

.catalog__title {
  @include title;
  margin: 0;
  margin-bottom: 21px;
}

.catalog__subtitle {
  margin-bottom: 4px;
}

@media (min-width: $tablet-width) {
  .catalog__container {
    width: 768px;
    padding: 80px 20px 89px;
    margin: 0 auto;
  }

  .catalog__title {
    font-size: 42px;
    line-height: 64px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__container {
    width: 1440px;
    padding: 100px 40px 117px;
    margin: 0 auto;
  }

  .catalog__title {
    margin-bottom: 36px;
  }

  .catalog__subtitle {
    margin-bottom: 4px;
  }
}
