.copyright {
  display: flex;
  padding: 20px 0 30px;
  justify-content: center;
  color: #bdbdbd;
  font-size: 12px;
  line-height: 16px;
}

.copyright__text {
  margin: 0;
  margin-right: 3px;
}

.copyright__link {
  width: 112px;
  display: flex;
  justify-content: space-between;
  color: #bdbdbd;
  text-decoration: none;
  user-select: none;

  & svg {
    color: #bdbdbd;
  }

  &:hover,
  &:focus {
    color: #7859cf;

    & svg {
      color: #7859cf;
    }
  }

  &:active {
    color: #593cac;

    & svg {
      color: #593cac;
    }
  }
}

.copyright__link-text {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    grid-column: 2 / 3;
  }
}
