.filter {
  margin-bottom: 40px;
}

.filter__buttons {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.filter__button {
  font-family: "Montserrat", "Arial", sans-serif;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 20px;
  border-radius: 4px;
  border: 0;

  &--apply {
    background-color: #7859cf;
    color: #ffffff;

    &:disabled {
      background-color: #bdbdbd;
    }
  }

  &--reset {
    background-color: #ffffff;
    color: #7859cf;

    &:disabled {
      background-color: #e2e2e2;
      color: #ffffff;
    }
  }

  &:focus,
  &:hover {
    color: #ffffff;
    background-color: #9070ec;
  }

  &:active {
    background-color: #593cac;
  }
}
