.media__title {
  @include subtitle;
  margin-bottom: 12px;
}

.media__list {
  @include list;
  font-size: 12px;
  line-height: 16px;
}

.media__item {
  padding: 8px 0;

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.media__link {
  @include link-footer;
  padding: 8px 0;
}
