 .menu {
   display: flex;
 }

 .menu__list {
   @include list;
   display: flex;
   flex-wrap: wrap;
 }

 .menu__item {
   display: flex;
   width: 60px;
   height: 60px;
   align-items: center;
 }

 .menu__link {
   @include link;
 }

 .menu__link-text {
   display: none;
 }

 @media (max-width: $mobile-width) {
   .menu__link {
     padding: 21px 22px;

     & svg {
       text-align: center;
     }
   }
 }

 @media (min-width: $tablet-width) {
  .menu__item {
    height: 80px;
    align-items: center;
    justify-content: center;
  }

   .menu__link {
     padding: 10px;
   }
 }
