.separator {
  position: relative;
  padding: 20px 0 21px;

  &::after {
    content: "";
    width: 100vw;
    height: 1px;
    position: absolute;
    background: #f0ebff;
    padding: 0;
    margin-left: -20px;
    bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .separator {
    padding: 0;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .separator {
    margin-top: 9px;
  }
}
