.social {
  display: flex;
  justify-content: space-between;
}

.social__logo {
  margin-top: 2px;
}

.social__text {
  display: none;
}

.social__list {
  @include list;
  display: flex;
  width: 160px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social__item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  padding: 9px;
  width: 40px;
  height: 40px;

  & svg {
    color: #bdbdbd;
  }

  &:hover,
  &:focus {
    background-color: #f0ebff;
    border-radius: 4px;

    & svg {
      color: #7859cf;
    }
  }

  &:active {
    background-color: hsla(256, 55%, 58%, 0.25);
    border-radius: 4px;

    & svg {
      color: #7859cf;
    }
  }
}

@media (min-width: $tablet-width) {
  .social {
    grid-column: 1 / 4;
  }

  .social__list {
    width: max-content;
  }

  .social__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    grid-column: 1 / 2;
    flex-direction: column;
    justify-content: start;
    margin-top: 0;
  }

  .social__logo {
    text-transform: none;
    text-decoration: none;
    color: #333333;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .social__text {
    margin: 0;
    display: block;
    margin-top: 10px;
  }

  .social__list {
    width: 318px;
  }
}
