.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3px;
  margin-bottom: 18px;
}

.sorting__title {
  @include catalog-title;
  margin: 0;
}

.sorting__control {
  font-family: "Montserrat", "Arial", sans-serif;
  width: 165px;
  border: 0;
  cursor: pointer;
  appearance: none;
  padding: 4px 15px;
  border-radius: 4px;
  text-align: left;
  color: #7859cf;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: lowercase;
  background-color: transparent;
  position: relative;
  background-image: url("../../icons/sorting-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 7px center;
  background-size: 10px 10px;

  &:focus,
  &:hover {
    background-color: #f0ebff;
  }

  &:active {
    background-image: url("../../icons/sorting-open.svg");
  }
}

@media (min-width: $tablet-width) {
  .sorting {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 26px;
  }

  .sorting__title {
    margin-right: 11px;
  }

  .sorting__control {
    padding: 4px 10px;
    background-position: right 9px center;
  }
}
